.main-container {
    display: flex;
    justify-content: space-between;
}

.content-container {
    flex-grow: 1; /* Allows the content to fill the space */
    /* Additional styling for your content */
}

.scoreboard-container {
    flex-basis: 25%; /* Adjust based on your layout */
    max-height: 100vh; /* Adjust if needed */
    overflow-y: auto; /* Allows scrolling if the list is long */
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Optional for visibility */
    border-radius: 5px; /* Optional for rounded corners */
    /* Remove the 'position: absolute' and related properties */
}

body 
{
}
.video {
    max-width: 60vw;
    max-height: 60vh;
    width: auto;
    height: auto;
    display: none
}
.row {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    border: solid 1px black;
    margin-top: 5px;
}

.checkbox-container {
    flex: 0 0 50%; /* Each checkbox container takes up 50% of the row */
    box-sizing: border-box;
    padding: 10px; /* Adjust padding as needed */
}

.button-container {
    flex: 0 0 100%; /* Takes up the full width of the row */
    display: flex; /* Enables Flexbox */
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    padding: 10px; /* Optional padding */
}

    .button-container button {
        width: 50%; /* Set the width of the button */
        /* Removed 'display: flex' as it's not necessary for the button itself */
    }