/* General Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
}

/* Main Container */
.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    padding: 1.25em;
}

/* Content and Scoreboard Containers */
.content-container {
    margin: 0.625em;
    padding: 1.25em;
    background-color: #1e1e1e;
    border-radius: 0.5em;
    box-shadow: 0 0.125em 0.3125em rgba(255, 255, 255, 0.1);
    flex-grow: 1; /* Allows the container to grow to fill available space */
}

/* Media and Chat Container */
.media-chat-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

/* Video Section */
.video-section {
    width: 80%; /* Takes up 80% of the container */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto; /* Adjust height as needed */
    border: 2px solid #4CAF50;
    padding: 10px;
}

    /* Hidden State for Video Section */
    .video-section.is-hidden {
        visibility: hidden;
        width: 1280px;
        height: 720px;
    }

/* Chat Section */
.chat-section {
    width: 20%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #4CAF50; 
    padding: 10px; 
    max-height: 500px; /* Maximum height of the chat box */
    overflow-y: auto; /* Enables vertical scrolling */
}

/* Chat messages list */
#messagesList {
    width: 100%;
    overflow-y: auto; /* Allows scrolling inside the message list */
    flex-grow: 1; /* Allows the message list to grow and fill available space */
    margin-bottom: 10px; /* Spacing between messages and input area */
    word-wrap: break-word; /* Breaks long words to prevent horizontal scrolling */
}

.input-controls-container {
    display: flex;
    width: 100%;
}

/* Controls Container (Color Picker and Send Button) */
.controls-container {
    display: flex;
    flex-direction: column; /* Stacks children vertically */
}

/* Color Picker */
.color-picker {
    cursor: pointer; /* Changes cursor to indicate clickable area */
    height: 60%;
}

/* Send Button */
.send-button {
    /*background-color: #4CAF50;*/
    background-color: #005f73;
    color: white;
    border: none;
    cursor: pointer;
    height: 50%;
}



/* Chat Input (Textarea) */
.chat-input {
    flex-grow: 1; /* Allows the input to grow and take available space */
    padding: 8px;
    margin-right: 5px; /* Spacing between input and controls */
    border: 1px solid #555;
    border-radius: 4px;
    resize: none; /* Prevents resizing of the textarea */
    overflow-y: auto; /* Allows internal scrolling */
}

/* Chat Input Container */
.chat-input-container {
    display: flex;
    width: 100%;
    align-items: center;
}


/* Adjustments for when the video is not visible */
.video-section.hidden {
    visibility: hidden; /* Hide but maintain space */
}

/* Video Styling */
.video {
    width: 100%;
    height: auto;
    border-radius: 0.5em;
    margin-top: 1.25em;
}

/* Scoreboard */
.scoreboard-container {
    flex-basis: 20%; 
    margin: 0.625em;
    padding: 1.25em;
    background-color: #1e1e1e;
    border-radius: 0.5em;
    box-shadow: 0 0.125em 0.3125em rgba(255, 255, 255, 0.1);
    align-self: start; /* Aligns this container to the top */
}

/* Buttons and Inputs */
button, select, input {
    padding: 0.5em 0.75em;
    border: 1px solid #333;
    border-radius: 0.25em;
    margin-top: 0.625em;
    background-color: #333;
    color: #fff;
}

    button:focus, select:focus, input:focus {
        outline: 2px solid #4CAF50;
    }

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    button:hover {
        background-color: #45a049;
    }

input[type="text"], select {
    width: 100%;
    box-sizing: border-box;
}

/* Scoreboard */
.scoreboard-container {
    flex-basis: 30%;
    max-height: 90vh;
    overflow-y: auto;
}

ul.score-list {
    list-style: none;
    padding: 0;
}

/* Checkbox and Button Grid */
.row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.checkbox-container {
    flex: 1 1 45%;
}

.button-container {
    display: flex;
    justify-content: center;
}

    .button-container button {
        width: 50%;
    }

/* Specific Class Styles */
.input-field {
    border: 1px solid #555;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    background-color: #333;
    color: #fff;
}

.action-button {
    background-color: #008cba;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 5px;
}

    .action-button:hover {
        background-color: #005f73;
    }

.audio-controls, .video-section, .filter-section {
    margin-top: 15px;
}

.time-button, .reveal-button, .filter-button, .submit-button, .agree-confirmation-button, .deny-confirmation-button {
    background-color: #ff5722;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .time-button:hover, .reveal-button:hover, .filter-button:hover, .submit-button:hover {
        background-color: #e64a19;
    }

.agree-confirmation-button {
    background-color: red;
}


.deny-confirmation-button {
    background-color: green;
}

.submit-button {
    margin-left: 6px;
}

/* Adjustments for mobile responsiveness */
@media (max-width: 768px) {
    .media-chat-container {
        flex-direction: column;
    }

    .video-section, .chat-section {
        width: 100%;
    }
}