@page "/"
@inject IConfiguration Config

<PageTitle>Index</PageTitle>

<h1>Hello Youtube!</h1>

<p class="h4">
    Default Connection String: @defaultConnection
</p>

<p>
    This is our sample site that we deployed using GitHub Actions.
</p>

@code
{
    private string defaultConnection = "";
    protected override void OnInitialized()
    {
        defaultConnection = Config.GetConnectionString("Default") ?? "unknown";
    }
}


