@page "/"
@inject IConfiguration Config

<PageTitle>Index</PageTitle>

<h1>welcome to Salerno Application!</h1>


@code
{
    private string defaultConnection = "";
    protected override void OnInitialized()
    {
        defaultConnection = Config.GetConnectionString("Default") ?? "unknown";
    }
}


